<%= form_for :user, url: login_path , method: "post" do |u| %>
    <%= label_tag 'Username' %>
    <%= u.text_field :username %>
    <%= label_tag 'Password' %>
    <%= u.password_field :password %>
    <%= u.submit "Login", :class => 'button' %>
<% end %>

<a href="/signup" class= "button" data-reveal-id="signUpModal">Sign Up</a>

<div id="signUpModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= render 'users/new' %>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>