<% if flash[:error] %>
      <% if flash[:error].include?("can't be blank") %>
      <div class="small-6 columns small-centered">
      <div data-alert id= "flash" class="alert-box"><%=  "Please check and fill in any blank fields!" %></div>
      </div>
    <% end %>
    <% if flash[:error].include?("invalid address") %>
      <div class="small-6 columns small-centered">
      <div data-alert id= "flash" class="alert-box"><%=  "Please enter a valid address" %></div>
      </div>
    <% end %>
    <% if flash[:error].include?("number") %>
      <div class="small-6 columns small-centered">
      <div data-alert class="alert-box"><%=  "Please enter a valid phone number!" %></div>
      </div>
    <% end %>
<% end %>

<div class= "row">

  <div class="swarm-head small-10 medium-8 large-8 small-centered columns">
    <%= image_tag("swarm_form_head.svg") %>
  </div>

</div>


<div class="row">
  <div class="small-10 medium-8 large-8 small-centered columns">
    <div class="header panel">
    <%= form_for @swarm, html: { autocomplete: 'off' } do |s| %>
    <div class="small-10 medium-10 large-10 small-centered columns text-center">
    <p>Use the form below to tell us about the swarm you found. Please note your information will only be used by a beekeeper for following up with you.</p>
    </div>
    <%= label_tag 'Name' %>
    <%= s.text_field :name %>
    <%= label_tag 'Email' %>
    <%= s.text_field :email %>
    <%= label_tag 'Phone Number' %>
    <%= s.text_field :phone %>
    <%= label_tag 'Nearest Address' %>
    <%= s.text_field :address %>
    <%= label_tag 'Description' %>
    <%= s.text_area :description, rows: 10 %>
    <div class= "text-center">
    <%= s.submit "Report a swarm", :class => 'button radius' %>
    <p><%= link_to "Return Home", "/" %></p>
    </div>
    <% end %>
    </div>
  </div>
</div>