<div class="parallax-background">
<% if flash[:notice] %>
    <div class="small-6 columns small-centered">
      <div class="alert-box"><%= flash[:notice] %></div>
    </div>
<% end %>
  <div class="intro-text">
    <div class= "sub-text">
    <%= image_tag("beekeep_logo.svg") %>
    </div>
    <div class="row">
    <div class= "desc large-7 large-centered columns">
We're on a mission to save the bees, and we need your help! Scroll down to learn more.
    </div>
    </div>
    <div class = "wrap">
    <ul class="large-block-grid-3 small-block-grid-3 options">
      <li class= "option one">
        <p class= "optiontxt">Did you find a swarm and need help?</br> click below:
        </p>
        <p>
        <%= link_to "I FOUND BEES!", {controller: "swarms", action: "new"}, class: "button small radius alert" %></p>
      </li>
      <li>
        <%= image_tag("bee_or.svg") %>
      </li>
      <li class= "option two">
        <p class= "optiontxt"> Are you a beekeeper looking for bees?</br> Get started here:</p>
        <p>
          <%= link_to "START", signup_path, class: "button small radius" %>
          <%= link_to "LOGIN", login_path, class: "button small radius" %>
        </p>
      </li>
     </ul>
    </div>
  </div>
</div>

<div class="parallax-content">
<div class="parallax-text">
  <br>
  <span class="jump-in"> Colony collapse disorder</span>
  <p>
     or CCD is one of the biggest ecological disasters our planet is facing. Since 2006, countries around the world have reported a loss of approximately 45-50% in honey bee populations. Last year, beekeepers in the U.S. lost 50% of their colonies, on average. When one considers the amount of crops that are almost entirely dependent on pollinators, the scope of the problem becomes clear. Without honey bees, almonds wouldnt exist!
  </p>
   <div class= "beefact large-grid-12 large-center">
    <div class= "factwrap text-center">
    <h3>Did you know?</h3>
    <p><%=random_bee_fact %><p>
    </div>
  </div>

  <div class= "beeimg small-grid-12 small-centered">
    <div class= "imgwrap">
  <%=image_tag('bees_5.jpg')%>
    </div>
  </div>

  <span class="jump-in"> What is swarming?</span>
  <p>
     Swarming is a natural survival habit of the bee. It typically occurs during the spring, when a colony has reached a large enough size that it decides to split its population and find a new hive. Although alarming to the onlooker- during this process (and in general) the bees are very docile and easy to handle. Since humans began domesticating bees, this behavior has been used as a critical resource for replenishing beekeeper's colonies. As the bee population plummets, it is now critical for beekeepers to be able to react quickly and capture swarms for preservation.
  </p>

  <p>I was once called the worst audience participant Cirque du Soleil ever had. You want your belt to buckle, not your chair. However, she mistook the drowsy eye alcohol warning for a winking eye alcohol suggestion. Gosh Mom… after all these years, God's not going to take a call from you. I'm not a prostitute. Then I shall let you live!. It looks like you've been looking for dragons… in the future. A trick is something a whore does for money…or candy. … or cocaine. Her lawyers are claiming the seal is worth $250,000. And that's not even including Buster's Swatch. Absolutely. And we're going to be here every day. I don't care if it takes from now till the end of Shrimpfest. And guess what else is back. [slow wink] My breakfast? My friskiness. Mama horny Michael. No, Pop-pop does not get a treat. I just bought you a f**king pizza.</p>

  <p>Her lawyers are claiming the seal is worth $250,000. And that's not even including Buster's Swatch. Turn this skiff around! Fun and failure both start out the same way. No, no, it's pronounced a-nal-ra-pist. She's always got to wedge herself in the middle of us so that she can control everything. Yeah. Mom's awesome. What do you expect, Mother? I'm half machine! I'm a monster!! I know what an erection feels like, Michael. No, it's the opposite. It's like my heart is getting hard. What's gotten into you? Have you been eating cheese?</p>

  <p>Bob Loblaw Lobs Law Bomb. I will be a bigger and hairier mole than the one on your inner left thigh! No, I was ashamed to be SEEN with you. I like being WITH you. I just dont want him to point out my cracker ass in front of Ann. A trick is something a whore does for money… or cocaine. I've been in the film business for a while but I just can't seem to get one in the can.</p>

  </div>
</div>




